body{
  margin 0;
}
a{
  text-decoration: none;
  font-size: 25px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #263343;
  padding: 10px 12px;
}
.navbar_logo{
  display: flex;
  list-style: none;
  padding-left: none;
}
.navbar_logo li{
  padding: 8px 12px;
}
.navbar_logo li:hover{
  background-color: #d49466;
}
.navbar_writing{
  display: flex;
  list-style: none;
  padding-right: none;
}
.navbar_writing li{
  padding: 8px 12px;
}
.navbar_writing li:hover{
  background-color: #d49466;
}


.navbar_menu{
  display: flex;
  list-style: none;
  padding-left: 0;
}
.navbar_menu li{
  padding: 8px 12px;
}
.navbar_menu li:hover{
  background-color: #d49466;
}
