.writingroompage {
    height: 100%;
    width: 100%;
    margin: 0;
}
.writingroom-title {
    width: 100%;
    background-color: black;
}
.dropdownMenu-toggle:after {
    display:none;
}
.WR-sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: max-content;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
.Wr-sidebar-comp {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
.Wr-sidebar-comp:hover {
    background-color: #555;
    color: white;
  }