.container{
   display: table;
}

.vertical_menus{
    display: table-cell;
    vertical-align: right;
}
.vertical_icon{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    right: 0;
}

.right_align1{
    
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50px;
    height:50px;
}
.right_align2{
    position: absolute;
    right: 0px;
    top: 50px;
    width: 50px;
    height:50px;
}
.right_align3{
    position: absolute;
    right: 0px;
    top: 100px;
    width: 50px;
    height:50px;
}
.right_align4{
    position: absolute;
    right: 0px;
    top: 150px;
    width: 50px;
    height:50px;
}
.nav_loc{
    position: absolute;
    right: 0px;
}
.column{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(1, 30px);
    grid-template-rows: repeat(4, 30px);
    position: relative;
}
.center{
    vertical-align: center;
}
.chat-room .friend-list .list-group-item {
    margin-bottom: 0;
    border: 0;
    border-bottom: 1px solid;
  }
  
  .chat-room .friend-list .list-group-item:last-of-type {
    border-bottom: 0;
  }
  
  .chat-room .friend-list .list-group-item.active {
    background-color: #eeeeee;
  }
  
  .chat-room .avatar {
    height: 3rem;
    width: 3rem;
  }
  
  .chat-room .chat-message:nth-of-type(even) {
    flex-direction: row-reverse;
  }
  
  .chat-room .scrollable-friends-list {
    height: 570px;
  }
  
  .chat-room .scrollable-chat {
    height: 510px;
    padding-bottom: 15px;
  }

.below{
    position: absolute;
    left: 0px;
    bottom: 0px;
}